body,
html {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: #363635;
  background: #fffffa;
}

a {
  text-decoration: none;
  transition: 0.2s ease-in-out;
  color: #363635;
}

a:hover {
  transition: 0.2s ease-in-out;
  color: #edcb96;
  border-bottom: none;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h2 {
  margin-top: 0;
  margin-bottom: 6vh;
}

p {
  margin-top: 0;
  margin-bottom: 4vh;
}

hr {
  margin: 6vh 0;
  display: block;
  border: 0;
  border-top: 2px solid #dad6d6;
  padding: 0;
}

.header {
  background: url("../images/photo-1534283457141-00c18acca0b2.jpg") no-repeat;
  background-size: cover;
  min-height: 55vh;
  color: #fffffa;
  padding: 4vh 4vh;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3vh;
}

.avatar {
  background: url("../images/photo.jpg") no-repeat;
  background-size: cover;
  /* background-position-y: -15px; */
  width: 120px;
  height: 120px;
  align-self: center;
  border-radius: 50%;
}

.main {
  display: block;
  text-align: start;
  line-height: 22px;
  padding: 4vh 4vh;
}
.my-projects__container {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  background: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 0.35em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.2s;
}

.thumbnail-btn {
  font-size: 16px;
  border: solid #fffffa 2px;
  color: #fffffa;
  padding: 10px;
  height: 20px;
  width: 50px;
  border-radius: 4px;
  transition: ease-in-out 0.2s;
  display: none;
  text-align: center;
  z-index: 0;
  cursor: pointer;
}

.thumbnail--image-1 {
  background-image: url("../images/default-bg.png");
}

.thumbnail--image-2 {
  background-image: url("../images/c4u.png");
}

.thumbnail--image-3 {
  background-image: url("../images/c4u-app.png");
}

.thumbnail--image-4 {
  background-image: url("../images/default-bg.png");
}

.thumbnail:hover .thumbnail-btn {
  display: block;
}

.thumbnail:hover::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  position: absolute;
  border-radius: 0.35em;
  transition: ease-in-out 0.2s;
}

.button:hover {
  color: #edcb96;
  border: solid #edcb96 2px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.button {
  width: 100%;
  background: #fffffa;
  font-size: 18px;
  border: solid #dad6d6 2px;
  color: #363635;
  padding: 10px;
  border-radius: 4px;
  transition: ease-in-out 0.2s;
  outline: none;
}

.contact-me ul {
  list-style-type: none;
  padding: 0px;
  margin: 2em 0;
}

.contact-me li {
  display: flex;
}

.contact-me li:nth-child(2) {
  margin: 1.5em 0;
}

.contact-me__container-input {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

input {
  display: block;
  background: #dad6d6;
  height: 30px;
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  border: 2px solid transparent;
}

input:focus {
  border: 2px solid #edcb96;
}

.email {
  margin: 1em 0;
}

.message {
  display: block;
  background: #dad6d6;
  height: 90px;
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 4vh;
  font-family: inherit;
  outline: none;
  border: 2px solid transparent;
}

.message:focus {
  border: 2px solid #edcb96;
}

.contact-me ul > ::before {
  font-weight: 900;
  font-family: "Font Awesome\ 5 Free";
  font-size: 21px;
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 1em;
}

.contact-me li:nth-child(1)::before {
  content: "\f015";
}

.contact-me li:nth-child(2)::before {
  content: "\f3cd";
}

.contact-me li:nth-child(3)::before {
  content: "\f0e0";
}

.footer {
  background: url("../images/photo-1534283457141-00c18acca0b2.jpg") no-repeat;
  background-size: cover;
  background-position-y: center;
  min-height: 25vh;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.footer__container {
  margin-top: 4vh;
  width: 100%;
  height: 100%;
}

.footer__container ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  align-items: center;
  padding: 0;
}

.footer__link {
  color: #fffffa;
  border-bottom: none;
  transition: 0.2s ease-in-out;
}

.footer__link:hover {
  color: #edcb96;
  transition: 0.2s ease-in-out;
}

.modal-bg {
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 310px;
  height: auto;
  background: #fffffa;
  border-radius: 0.35em;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal--close {
  margin-top: 10px;
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 44px;
  font-weight: 600;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(8, 8, 8, 1);
  border: 2px solid rgba(8, 8, 8, 0.5);
  border-radius: 50px;
  opacity: 0.5;
}

.modal--close:hover {
  opacity: 1;
  border: 2px solid rgba(8, 8, 8, 1);
}

.modal-content__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
  border-radius: 0.35em 0.35em 0 0;
}

.modal-header {
  text-align: center;
  margin: 0 auto;
}

.modal-links {
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 10px 0;
  margin: 0 auto;
}

.modal-text {
  padding: 1em 1em;
  text-align: justify;
  margin-bottom: 0;
}

.error {
  border: 2px red solid;
}

.name-err {
  top: 13%;
  left: 0;
}
.msg-err {
  bottom: 19%;
  left: 0;
}

.error-msg {
  font-size: 0.6em;
  color: red;
  position: absolute;
}

.notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(38, 206, 38);
  font-size: 1.2em;
  font-weight: 600;
  color: #fffffa;
  z-index: 10;
  animation: pop 2s forwards 0s ease-out;
  display: none;
}

.link-container {
  display: none;
}

.button-link {
  width: 100px;
  height: 40px;
  background: #fffffa;
  font-size: 15px;
  border: solid #dad6d6 2px;
  color: #363635;
  padding: 10px;
  border-radius: 4px;
  transition: ease-in-out 0.2s;
  outline: none;
}

.button-link:hover {
  color: #edcb96;
  border: solid #edcb96 2px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

@keyframes pop {
  0% {
    transform: rotate(0) translateX(0) translateY(-100%);
  }
  10% {
    transform: rotate(0) scale(1.5);
  }
  90% {
    transform: rotate(0) scale(1);
  }
  100% {
    transform: rotate(0) scale(1) translateY(-100%);
  }
}

@media (min-width: 768px) {
  .my-projects__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  .button {
    width: 200px;
  }

  .contact-me__container {
    display: flex;
  }

  input {
    width: 40%;
  }

  .email {
    margin: 0;
  }

  .message {
    margin-top: 2em;
    height: 150px;
  }

  .contact-me ul {
    margin: 0;
  }

  .contact-me__container-input {
    justify-content: space-between;
    padding-right: 4vw;
  }

  .modal-links {
    width: 50%;
  }

  .modal-content {
    width: 600px;
  }

  .modal-content__img {
    height: 300px;
  }
}

@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .avatar {
    align-self: auto;
  }

  .header {
    padding-top: 12vh;
    padding-right: 4vw;
  }

  .container {
    align-items: flex-end;
    text-align: right;
    margin-bottom: 31vh;
    padding: 0;
  }

  .main {
    padding: 12vh 6vw 12vh 4vw;
  }

  .modal-content {
    width: 800px;
  }

  .modal-content__img {
    height: 400px;
  }

  .footer {
    background: none;
    min-height: 14vh;
  }

  #fix {
    position: sticky;
    top: 0;
  }

  .footer__container ul {
    justify-content: flex-end;
  }

  .footer__container i {
    margin-left: 2vw;
  }
}

@media (min-width: 1200px) {
  .thumbnail {
    height: 300px;
  }

  h1,
  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.2em;
    line-height: 1.5em;
  }

  .button {
    font-size: 1.5em;
    height: 60px;
    border: solid #dad6d6 3px;
  }

  .button:hover {
    border: solid #edcb96 3px;
  }

  input {
    height: 40px;
    font-size: 1.3em;
  }

  .message {
    font-size: 1.3em;
  }

  .contact-me__container-input {
    max-width: 600px;
  }

  .contact-me ul {
    font-size: 1.3em;
  }

  .contact-me ul > ::before {
    font-size: 1.3em;
  }

  .footer__link {
    font-size: 1.3em;
  }

  .error-msg {
    font-size: 1em;
  }

  .name-err {
    top: 15%;
  }

  .msg-err {
    bottom: 22%;
  }
}
